@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
body {
    font-family: 'Roboto';
    padding: 0px;
    margin: 0px;
    background-color: #F8F8F8;
    color: #444;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    height: calc(100% - 0px);
    width: 100%;
}
* {
    transition: all 2.5s ease-in-out;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}

.app,
.main-body-container {
    height: 100%;
}

.appBarContainer {
    width: 100%;
    padding: 20px;
    background-color: #007ACC;
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

.appBarHeading {
    text-align: left;
    display: flex;
    flex-grow: 4;
}

.iconButton {
    cursor: pointer;
    margin-right: 15px;
}

.icon {
    font-size: 20px;
    color: #fff;
}

.icon:hover {
    color: #e5e5e5;
}

.appBarLink {
    float: right;
    font-size: 16px;
}
.page-header:after,
.app-bar:after{
    background: linear-gradient(to right, #EF5350 15%,#9C27B0 35%, #C0CA33  50%, #e84f47 65%, #e84f47 75%, rgb(63, 81, 181) 90%);
    position: absolute;
    content: '';
    height: 4px;
    right: 0;
    left: 0;
    bottom: 0;
}
.page-header:after {
    height: 1px;
}
.page-container {
    height: calc(100% - 95px);
    overflow: hidden;
    max-width: 1368px;
    margin: 0 auto;
}

.page-header {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    justify-content: space-between;
}

.page-content {
    height: calc(100% - 85px);
    overflow: auto;
}
.card {
     border-top: 4px solid #90A4AE; 
    border-radius: 0px !important;
    position: relative;
}
.dialog-body {
    margin-top: 15px;
}
.footer:after,
.dialog-body:after{
    background: linear-gradient(to right, #EF5350 15%,#9C27B0 35%, #C0CA33  50%, #e84f47 65%, #e84f47 75%, rgb(63, 81, 181) 90%);
    position: absolute;
    content: '';
    height: 4px;
    right: 0;
    left: 0;
    top: 0;
  }

  .dialog-header {
      color:#fff !important;
      background: #607D8B !important;
      font-size: 18px !important;
      line-height: 18px !important;
      font-weight: 300 !important;
  }
.footer {
    bottom: 0px;
    position: absolute;
    padding: 10px 14px 10px 0px;
    border-top: 1px solid #e4e4e4;
    width: calc(100% - 13px);
    font-size: 12px;
    text-align: right;
    color: #fff;
    background: #90A4AE;
}
.carousel-arrow{
    height: auto !important;
    min-width: 36px !important;
    max-width: 36px !important;
    width: 36px !important;
    background-color:#ccc !important;
}